<div class="container" xmlns="http://www.w3.org/1999/html">
    <h1 class="page-header">{{ title }}</h1>

    <div class="thumbnail col-sm-6 col-md-2" kendo ng-repeat="obj in weatherDataList">
        <img ng-src="http://openWeatherMap.org/img/w/{{ obj.weather[0].icon}}.png"
             style="width: 100px; height: 100px;" />

        <div class="caption">
            Country: {{ obj.sys.country }}
            </br>
            Description: {{ obj.weather[0].description }}
            </br>
            Temperature: {{ obj.main.temp }}
        </div>
    </div>
</div>